@model PizzeriaEdiMVC.Entidades.ViewModels.Producto.ProductosFilterListViewModel

@{
    ViewBag.Title = "Index";
}
<div>
    <a href="@Url.Action("Create","Productos")" class="btn btn-primary" style="float: right">
        Nuevo
    </a>
    <h2>Listado de Productos</h2>
</div>
@if (TempData["Msg"] != null)
{
    var msg = TempData["Msg"].ToString();
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Éxito!</strong> @msg
    </div>

}

<hr />
<div class="row">
    <div class="col-md-2">
        <h4>Filtro:</h4>
        <div class="list-group">
            <div class="list-group">
                @Html.ActionLink("Todos","Index",null,new{ @class = Request["tipoProducto"] == null ? "list-group-item active" : "list-group-item" })
                @foreach (var tipo in Model.TipoProductos)
                {
                    @Html.ActionLink(tipo.Descripcion,"Index",new{tipoProducto=tipo.Descripcion},new{ @class = Request["tipoProducto"] == tipo.Descripcion ? "list-group-item active" : "list-group-item" })
                }
            </div>
        </div>

    </div>
    <div class="col-md-10">
        @Html.Partial("_ListaProductos",Model.Productos)

    </div>

</div>
