@{
    ViewBag.Title = "VentaGuardada";
}


<h2 style="text-align: center">Items de Venta Guardados </h2>
<table style="margin: 0px auto">
    <tr>

        <td>Venta Nro:</td>
        <td style="font-weight: bold">: @ViewBag.VentaId</td>
    </tr>
</table>
@using (Html.BeginForm())
{
    <div style="padding: 10px 0px; text-align: center">
        <td style="margin-left: 9px;">@Html.ActionLink("Generar Pdf", "GeneratePdf", "Carrito", new { id =@ViewBag.VentaId }, new { @class = "btn btn-warning", @target = "_blank" })</td>
        <td style="margin-left: 9px;">@Html.ActionLink("Volver", "Index", "Productos","", new { @class = "btn btn-success" })</td>
    </div>
}